<%= form_for([@project, @specification, @table_specification]) do |f| %>
  <% if @table_specification.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@table_specification.errors.count, "error") %> prohibited this table_specification from being saved:</h2>

      <ul>
      <% @table_specification.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    
   <%= f.select :factory_id, options_for_select(@factories.collect { |country|
    [country.brand.titleize, country.id] }, 1), {}, { id: 'factories_select' } %>
  <%= f.select :product_id, options_for_select(@products.collect { |product|
    [product.model.titleize, product.id] }, 0), {}, { id: 'products_select' } %>


  <div id="article_id">1</div>
  <div class="actions">
    <%= f.submit :value => t('table.add_to') %>
  </div>
<% end %>
