<div id="webtable">
  <table width="100%" id="table_specification">
    <thead>
      <tr class="check_column" id="<%= @specification.id %>">
        <th></th>
        <th><%= check_box("photo", @specification.id, {checked: @specification.photo, column: "photo"}) %></th>
        <th><%= check_box("factory", @specification.id, {checked: @specification.factory, column: "factory"}) %></th>
        <th><%= check_box("brand_model", @specification.id, {checked: @specification.brand_model, column: "brand_model"}) %></th>
        <th><%= check_box("article", @specification.id, {checked: @specification.article, column: "article"}) %></th>
        <th><%= check_box("finishing", @specification.id, {checked: @specification.finishing, column: "finishing"}) %></th>
        <th><%= check_box("description", @specification.id, {checked: @specification.description, column: "description"}) %></th>
        <th><%= check_box("size", @specification.id, {checked: @specification.size, column: "size"}) %></th>
        <th><%= check_box("upf", @specification.id, {checked: @specification.upf, column: "upf"}) %></th>
        <th><%= check_box("sum_factory", @specification.id, {checked: @specification.sum_factory, column: "sum_factory"}) %></th>
        <th><%= check_box("number_of", @specification.id, {checked: @specification.number_of, column: "number_of"}) %>
        </th>
        <th><%= check_box("interest", @specification.id, {checked: @specification.interest, column: "interest"}) %></th>
        <th><%= check_box("full_price", @specification.id, {checked: @specification.full_price, column: "full_price"}) %></th>
        <th><%= check_box("full_sum", @specification.id, {checked: @specification.full_sum, column: "full_sum"}) %></th>
        <th><%= check_box("v", @specification.id, {checked: @specification.v, column: "v"}) %></th>
        <th><%= check_box("note", @specification.id, {checked: @specification.note, column: "note"}) %></th>
        <th><%= check_box("architector", @specification.id, {checked: @specification.architector, column: "architector"}) %></th>
      </tr>
      <tr>
        <th class="npp">п/п</th>
        <th class="photo">Изображение</th>
        <th class="factory">Фабрика</th>
        <th class="model">Модель</th>
        <th class="article">Артикул</th>
        <th class="finishing_for_client">Отделка</th>
        <th class="type_furniture">Описание</th>
        <th class="size">Размер</th>
        <th class="unit_price_factory">Цена фаб-ки</th>
        <th class="factory-sum">Сумма фаб-ки</th>
        <th class="number_of">Кол-во</th>
        <th class="interest">Интерес</th>
        <th class="full_price">Цена, <%= @current_currency[0] %></th>
        <th class="full_sum">Сумма, <%= @current_currency[0] %></th>
        <th class="v">V</th>
        <th class="note">Заметки</th>
        <th class="architector">Архитектор</th>
      </tr>
    </thead>
    <tbody>

     <!-- OUTPUT GROUP -->
      <% @group_lines.each do |gr| %>
       <% psg = [@project, @specification, gr] %>
        <tr>
          <td class="group_label" colspan="17"><span style="float: left"><%= best_in_place gr, :numbering %></span><%= best_in_place gr, :name %></td>
        </tr>
        <% gr.tables.each do |ts| %>
         <%= render 'table_each', ts: ts %>
        <% end %>
      <% end %>
      <% @no_group_lines.each do |ts| %>
        <%= render 'table_each', ts: ts %>
      <% end %>
      <!--  -->
      <% @table_specifications.each do |ts| %>
    
        <% end %>
        <tr>
          <td colspan="12"> Сумма</td>
          <td><%= @Model::specification_sum_all(@specification, "sum").round(2) %></td>
          <td></td>
          <td><%= @Model::specification_sum_all(@specification, "architector_interest").round(2) %></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td colspan="12"> Сумма выделенных</td>
          <td><%= @Model::specification_sum_all(@specification, "sum", "selected").round(2) %></td>
          <td></td>
          <td><%= @Model::specification_sum_all(@specification, "architector_interest", "selected").round(2) %></td>
          <td></td>
          <td></td>
        </tr>
    </tbody>
  </table>
</div>
