<%= javascript_include_tag "table_specifications/index" %>
<div id="table_specification_page">
  <p id="notice"><%= notice %></p>
  <%= link_to t('table.print_pdf'), project_specification_table_specifications_path(@project, @specification, @table_specification, format: "pdf") %>
  <%= label_tag(:print_sum, t('table.print_sum')) %>
  
  <%= check_box("print", "sum", {checked: @specification.print_sum}, "sit") %>


  <%= render 'table_specifications/photo/dialog' %>
  <%= render 'table_specifications/photo/dialog_table' %>
  <%= render 'table_specifications/size_image/dialog' %>
  <%= render 'table_specifications/discount/dialog' %>
  <%= render 'table_specifications/discount/dialog_table' %>
  <%= render 'table_specifications/delivery/dialog' %>
  <%= render 'table_specifications/delivery/dialog_table' %>
  <%= render 'table_specifications/packing_size/dialog' %>
  <%= render 'table_specifications/packing_size/dialog_table' %>
    
  <%= render 'table' %>
  <%= link_to t('table.new_row'), new_project_specification_table_specification_path, remote: true , class: "table-button btn btn-primary" %>
</div>
