<p id="notice"><%= notice %></p>

<p>
  <strong>Article:</strong>
  <%= @table_specification.article %>
</p>

<p>
  <strong>Type fyrniture:</strong>
  <%= @table_specification.type_fyrniture %>
</p>

<p>
  <strong>Finishing:</strong>
  <%= @table_specification.finishing %>
</p>

<p>
  <strong>Finishing for client:</strong>
  <%= @table_specification.finishing_for_client %>
</p>

<p>
  <strong>Size:</strong>
  <%= @table_specification.size %>
</p>

<p>
  <strong>Unit price factory:</strong>
  <%= @table_specification.unit_price_factory %>
</p>

<p>
  <strong>Increment discount:</strong>
  <%= @table_specification.increment_discount %>
</p>

<p>
  <strong>Unit price netto:</strong>
  <%= @table_specification.unit_price_netto %>
</p>

<p>
  <strong>Summ netto:</strong>
  <%= @table_specification.summ_netto %>
</p>

<p>
  <strong>Unit v:</strong>
  <%= @table_specification.unit_v %>
</p>

<p>
  <strong>Factor:</strong>
  <%= @table_specification.factor %>
</p>

<p>
  <strong>Unit price:</strong>
  <%= @table_specification.unit_price %>
</p>

<p>
  <strong>Number of:</strong>
  <%= @table_specification.number_of %>
</p>

<p>
  <strong>Summ:</strong>
  <%= @table_specification.summ %>
</p>

<p>
  <strong>Required:</strong>
  <%= @table_specification.required %>
</p>

<p>
  <strong>Specific:</strong>
  <%= @table_specification.specification %>
</p>



