<%= form_for([@project, @specification, @table_specification], remote: true) do |f| %>
  <% if @table_specification.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@table_specification.errors.count, "error") %> prohibited this table_specification from being saved:</h2>

      <ul>
      <% @table_specification.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <table class="table table-bordered table-striped">
    <tr>
    <script type="text/javascript">$(":file").filestyle({input: false}); </script>
      <th><%= f.file_field :image, class: "filestyle", :"data-input" => :"false", :"data-buttonText" => :"Find file" %></th>  
      <th class="brand"><%= f.text_field :factory_brand, :class => "mlm mtm", data: {autocomplete_source: Factory.order(:brand).map { |t| { :label => t.brand, :value => t.id } } } %>
</th>
      <th class="article"><%= f.text_field :article %></th>
      <th class="type_furniture"><%= f.text_area :type_fyrniture %></th>
      <th class="finishing"><%= f.text_field :finishing %></th>
      <th class="finishing_for_client"><%= f.text_area :finishing_for_client %></th>
      <th class="size" colspan="4"><%= f.text_area :size %></th>
        
      <th class="unit_price_factory"><%= f.text_field :unit_price_factory %></th>
      <th class="discount">
        <select id="discount">
          <option value="-1"></option>
        </select>
      </th>
      
      <th class="increment_discount"><%= f.number_field :increment_discount %></th>
      <th class="hide_discount" style="display: none"><%= f.number_field :factory_discount, :type => :hidden %></th>

      <th class="unit_price_netto" id="upn" type='number' ></th>
      <th class="unit_price_netto" style="display: none"><%= f.number_field :unit_price_netto, :type => :hidden, :required => :required %></th>
      
      <th class="summ_netto" id="sn"></th>
      <th class="summ_netto" style="display: none" ><%= f.number_field :summ_netto, :type => :hidden, :required => :required %></th>
      
      <th class="unit_v" id="unit_v"><%= f.number_field :unit_v, :step => 0.1 %></th>

      <th class="summ_v" id="sv"></th>
      <th class="summ_v" style="display: none" ><%= f.text_field :summ_v, :type => :hidden, :required => :required %></th>

      <th class="factor" ><%= f.number_field :factor, :step => 0.1 %></th>

      <th class="unit_price" id="up"></th>
      <th class="unit_price" style="display: none"><%= f.text_field :unit_price, :type => :hidden, :required => :required %></th>

      <th class="number_of"><%= f.number_field :number_of %></th>
      
      <th class="summ" id="summ"></th>
      <th class="summ" style="display: none"><%= f.text_field :summ, :type => :hidden, :required => :required %></th>
      
      <th class="destroy"><%= %></th>
    </tr>
    <tr>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th class="box_v"><%= f.number_field :width, :step => 0.01 %></th>
          <th class="box_v"><%= f.number_field :height, :step => 0.01 %></th>
          <th class="box_v"><%= f.number_field :depth, :step => 0.01 %></th>
          <th class="box_v"><%= f.number_field :percent_v %></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>

    </tr>
  </table>
  <div class="actions">
    <%= f.submit :value => t('table.add_to') %>
  </div>
<% end %>
