<tr id="factory_<%= factory.id %>" data-toggle="collapse" data-target=".hidden<%= factory.id %>" data-parent="table" class="accordion-toggle">
	<td class="column1"><%= factory.brand %></td>
	<td class="column2"><%= factory.line_product %></td>
	<td class="column3">
		<% factory.discounts.each do |company| %>
	      <%= company.percent %>
	    <% end %>
	</td>
	<td class="column4"><%= factory.additional_discount %></td>
	<td class="column5"><%= factory.delivery_terms %></td>
	<td class="column6"><%= factory.minimum_order %></td>
	<td class="column7"><%= factory.light_factor %></td>
	<td class="column8"><%= factory.group_brend %></td>
	<td class="column9"><%= factory.delivery_time %></td>
</tr>
<tr class="hider">
	<td class="column1">
		<div class="accordion-body collapse hidden<%= factory.id %>">
				<div>Сайт</div>
				<div><%= factory.web %></div>
		</div>
	</td>
	<td class="column2">
		<div class="accordion-body collapse hidden<%= factory.id %>">
			<div>Стиль</div>
			<div><%= factory.style %></div>
		</div>
	</td>
	<td class="column3">
		<div class="accordion-body collapse hidden<%= factory.id %>">
			<div>Авторизация</div>
			<div><%= factory.autorification %></div>
		</div>
	</td>
	<td class="column4">
		<div class="accordion-body collapse hidden<%= factory.id %>">
			<div><%= factory.catalog %></div>
			<div></div>
		</div>
	</td>
	<td class="column5-8" colspan="4">
		<div class="accordion-body collapse hidden<%= factory.id %>">
			<div>Заметки</div>
			<div><%= factory.note %></div>
		</div>
	</td>
	<td class="column9 actions">
		<div class="accordion-body collapse hidden<%= factory.id %>">
			
	 	<% if can? :update, factory %>
		    <%= link_to t('edit'), edit_factory_path(factory), remote: true, :class => 'btn btn-sm btn-info' %>
		    <% end %>
		    
		    <% if can? :destroy, factory %>
		    <%= link_to t('delete'), factory, remote: true, :method => :delete, data: {confirm: "Delete Factory: #{factory.brand}"}, :class => 'btn btn-sm btn-danger' %>
	    <% end %> 
		</div>
	</td>
</tr>

