<%= form_for(@factory, remote: true, :html => { :role => "form" }) do |f| %>
<div id="error_explanation" class="bg-danger text-danger">
</div>
 
<div class="row">
 <div class="col-sm-4">
  <div class="form-group">
    <%= f.label t('brand.brand'), :class => "control-label" %>
    <%= f.text_field :brand, :class => "form-control first_input"  %>
  </div>
  <div class="form-group">
    <%= f.label t('brand.web'), :class => "control-label" %>
    <%= f.text_field :web, :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label t('brand.autorification'), :class => "control-label" %>
    <%= f.text_field :autorification, :class => "form-control" %>
  </div>
</div>
 
<div class="col-sm-4">
  <div class="form-group">
    <%= f.label t('brand.style'), :class => "control-label" %>
    <%= f.text_field :style, :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label t('brand.line_product'), :class => "control-label" %>
    <%= f.text_field :line_product, :class => "form-control" %>
  </div>
    <div class="form-group">
    <%= f.label t('brand.catalog'), :class => "control-label" %>
    <%= f.text_field :catalog, :class => "form-control" %>
  </div>
</div>
  <div class="col-sm-4">
    <div class="form-group">
      <%= f.label t('brand.delivery_terms'), :class => "control-label" %>
      <%= f.text_field :delivery_terms, :class => "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label t('brand.note') , :class => "control-label" %>
      <%= f.text_field :note, :class => "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label t('brand.additional_discount'), :class => "control-label" %>
      <%= f.text_field :additional_discount, :class => "form-control" %>
    </div>
  </div>

<div class="col-sm-12">
  <div class="form-group">
    <%= f.label t('brand.discount'), :class => "control-label" %>
    <%= f.nested_fields_for :discounts do |ff| %>
      <%= ff.remove_nested_fields_link %>
      
      <%= ff.text_field :percent, :class => "form-control"  %>
    <% end %>
    <%= f.add_nested_fields_link :discounts, t('brand.add_discount') %>
  </div>
  <h2>Свет</h2>
  <div class="col-sm-4">
    <div class="form-group">
      <%= f.label t('brand.light_factor'), :class => "control-label" %>
      <%= f.text_field :light_factor, :class => "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label t('brand.minimum_order'), :class => "control-label" %>
      <%= f.text_field :minimum_order, :class => "form-control" %>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="form-group">
      <%= f.label t('brand.delivery_time'), :class => "control-label" %>
      <%= f.text_field :delivery_time, :class => "form-control" %>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="form-group">
      <%= f.label t('brand.group_brend'), :class => "control-label" %>
      <%= f.text_field :group_brend, :class => "form-control" %>
    </div>
    <div class="form-group">
    </br>
    <%= f.submit  @factory.new_record? ? "Create Factory" : "Update Factory", :class => "btn btn-primary" %>
  </div>
  </div>
</div>
</div>
</div>
<% end %>