<div class="container">
  <%= flash[:alert] %>
  <h2><%= t('brand.brands') %></h2>
  <div class="well">
  <% if can? :create, Factory %>
    <%= link_to t('brand.new_brand'), new_factory_path, remote: true, class: "btn btn-primary" %>
  <% end -%>
  </div>
  <div class="new-brand"></div>
 
  <table id class="table table-bordered table-striped">
    <thead>
    <tr>
        <th><%= t('brand.brand') %></th>
        <th><%= t('brand.web') %></th>
        <th><%= t('brand.autorification') %></th>
        <th><%= t('brand.style') %></th>
        <th><%= t('brand.line_product') %></th>
        <th><%= t('brand.catalog') %></th>
        <th><%= t('brand.discount') %></th>
        <th><%= t('brand.additional_discount') %></th>
        <th><%= t('brand.delivery_terms') %></th>
        <th><%= t('brand.minimum_order') %></th>
        <th><%= t('brand.delivery_time') %></th>
        <th><%= t('brand.light_factor') %></th>
        <th><%= t('brand.delivery_time') %></th>
        <th><%= t('brand.group_brend') %></th>
        <th><%= t('brand.note') %></th>
        <th><%=  %></th>
    </tr>
    </thead>
    <tbody id="factories">
    <%= render @factorys %>
    </tbody>
  </table>
 
  <%= render 'dialog' %>
 
</div>