<%= javascript_include_tag "factories/index" %>
<div class="container">
  <%= flash[:alert] %>
  <h2><%= t('brand.brands') %></h2>
  <div class="well">
  <% if can? :create, Factory %>
    <%= link_to t('brand.new_brand'), new_factory_path, remote: true, class: "btn btn-primary" %>
  <% end -%>
  </div>
  <div class="new-brand"></div>
 
  <table class="table table-striped" id="factory">
    <thead>
    <tr>
        <th class="column1">Имя бренда</th>
        <th class="column2">Направления</th>
        <th class="column3">Скидка</th>
        <th class="column4">Добавочная скидка</th>
        <th class="column5">Срок доставки/дней</th>
        <th class="column6">Минимальный заказ</th>
        <th class="column7">Коэффициент</th>
        <th class="column8">Срок поставки</th>
        <th class="column9">Группа бренда</th>
    </tr>
    </thead>
    <tbody id="factories">
    <%= render @factorys %>
    </tbody>
  </table>
 
  <%= render 'dialog' %>
 
</div>