<tr id="delivery_<%= delivery.id %>">
  <td><%= delivery.direction %></td>
  <td><%= delivery.cost %></td>
  <td><%= delivery.execution_document %></td>
  <td><%= delivery.check_factory %></td>
  <td><%= delivery.bank_service %></td>
  <td><%= delivery.bank_percent %></td>
  <td><%= link_to t('edit.new'), edit_delivery_path(delivery), remote: true, :class => 'btn btn-sm btn-info' %></td>
  <td><%= link_to t('delete'), delivery, remote: true, :method => :delete, data: {confirm: "Удалить: #{delivery.direction}"}, :class => 'btn btn-sm btn-danger' %></td>
</tr>
