<%= form_for(@delivery, remote: true, :html => { :role => "form" }) do |f| %>
  <% if @delivery.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@delivery.errors.count, "error") %> prohibited this delivery from being saved:</h2>

      <ul>
      <% @delivery.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
       <%= f.label t('deliveries.direction'), :class => "control-label" %><br>
       <%= f.text_field :direction, :class => "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label t('deliveries.cost'), :class => "control-label" %><br>
        <%= f.number_field :cost, step: 0.001, :class => "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label t('deliveries.execution_document'), :class => "control-label" %><br>
        <%= f.number_field :execution_document, :class => "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label t('deliveries.check_factory'), :class => "control-label" %><br>
        <%= f.number_field :check_factory, :class => "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label t('deliveries.bank_service'), :class => "control-label" %><br>
        <%= f.number_field :bank_service, :class => "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label t('deliveries.bank_percent'), :class => "control-label" %><br>
        <%= f.number_field :bank_percent, step: 0.1, :class => "form-control" %>
      </div>
      <div class="actions">
        <%= f.submit  @delivery.new_record? ? t('create') : t('update'), :class => "btn btn-primary" %>
      </div>
    </div>
  </div>
  <% end %>
