<div class="container">
<p id="notice"><%= notice %></p>
<h2><%= t('deliveries.listing') %></h2>

<div class="well">
  <%= link_to t('deliveries.new'), new_delivery_path, remote: true, class: "btn btn-primary" %>
</div>

<table id class="table table-bordered table-striped">
  <thead>
    <tr>
      <th><%= t('deliveries.direction') %></th>
      <th><%= t('deliveries.cost') %></th>
      <th><%= t('deliveries.execution_document') %></th>
      <th><%= t('deliveries.check_factory') %></th>
      <th><%= t('deliveries.bank_service') %></th>
      <th><%= t('deliveries.bank_percent') %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody id="deliveries">
    <%= render @deliveries %>
  </tbody>
</table>
<%= render 'dialog' %>
</div>
