<div class="container"> 
<p id="notice"><%= notice %></p>

<h2><%= t('styles.styles') %></h2>
  <div class="well">
    <%= link_to t('styles.new'), new_style_path, remote: true, class: "btn btn-primary" %>
  </div>
  <div class="new-style"></div>

<table class="table table-bordered table-striped table-hover">
  <thead>
    <tr>
      <th><%= t('styles.name') %></th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody id="styles">
      <%= render @styles %>
  </tbody>
</table>
<%= render 'dialog' %>
</div>