<tr id="project_<%= project.id %>">
	<td class="column1"><%= link_to project.object_name, project %></td>
	<td class="column2"><%= project.client.name %></td>
	<td class="column3"><%= project.created_at %></td>
	<% if project.status != @last_status %>
    	<td class="column4"><%= link_to project.status, new_project_status_path(project), remote: true %></td>  
	<% else %>
		<td class="column4"><%= project.status %></td>
	<% end %>
	<td class="column5"><%= project.status_description %></td>
	<td class="column6"><%= project.deadline %></td>
	<td class="column7"><%= best_in_place [project], :planned_budget %></td>
	<td class="column8"></td>
	<td class="column9"><%= best_in_place [project], :amount_contract %>&nbsp;&nbsp;&nbsp;&nbsp;<span class="accordion-toggle glyphicon glyphicon-menu-down" data-toggle="collapse" data-target=".hidden<%= project.id %>" data-parent="table"></td>

</tr>
<tr class="hider">
	<td class="column1">
		<div class="accordion-body collapse hidden<%= project.id %>">
			<div>Город</div>
			<div><%= project.city.name %></div>
		</div>
	</td>
	<td class="column2">
		<div class="accordion-body collapse hidden<%= project.id %>">
			<div>Стиль</div>
			<div><%= project.style.name %></div>
		</div>
	</td>
	<td class="column3">
		<div class="accordion-body collapse hidden<%= project.id %>">
			<div>Тип мебели</div>
			<div><%= project.type_furniture %></div>
		</div>
	</td>
	<td class="column4">
		<div class="accordion-body collapse hidden<%= project.id %>">
			<div>Дата отгрузки</div>
			<div class="datapic"><input name="<%= project.id %>" data-bip-attribute="date_delivery_client" value="<%= project.date_delivery_client%>" class="form-control" id="dp_<%= project.id %>" /></td>
		</div>
	</td>
	<td class="column5">
		<div class="accordion-body collapse hidden<%= project.id %>">
			<div>Предоплата</div>
			<div><%= best_in_place [project], :client_prepayment %></div>
		</div>
	</td>
	<td class="column6">
		<div class="accordion-body collapse hidden<%= project.id %>">
			<div>Доплата</div>
			<div><%= best_in_place [project], :client_surcharge %></div>
		</div>
	</td>
	<td class="column7">
		<div class="accordion-body collapse hidden<%= project.id %>">
			<div>Статус сделки</div>
			<div><%= best_in_place [project], :status_transaction %></div>
		</div>
	</td>
	<td class="column8">
		<div class="accordion-body collapse hidden<%= project.id %>">
			<div>Статус доставки</div>
			<div><%= best_in_place [project], :delivery_status %></div>
		</div>
	</td>
	<td class="column9 actions">
		<div class="accordion-body collapse hidden<%= project.id %>">
			<% if can? :update, project %>
		    <%= link_to t('edit'), edit_project_path(project), remote: true, :class => 'btn btn-sm btn-info' %>
		    <% end %>

		    <% if can? :destroy, project %>
		    <%= link_to t('delete'), project, remote: true, :method => :delete, data: {confirm: "Delete Customer: #{project.object_name} #{project.client}"}, :class => 'btn btn-sm btn-danger' %>
		    <% end %>
		</div>
	</td>
</tr>