<%= javascript_include_tag "projects/index" %>
<div class="container">
 
  <h2><%= t('project.projects') %></h2>
  <div class="project well">
  <% if can? :create, Project %>
    <%= link_to t('project.new_project'), new_project_path, remote: true, class: "btn btn-primary" %>
  <% end %>
  </div>
  <div class="new-project"></div>
 
  <table id="project" class="table table-bordered table-striped table-hover">
    <thead>
    <tr>
      <th class="column1">Название проекта</th>
      <th class="column2">Имя заказчика/архитектора</th>
      <th class="column3">Дата запроса</th>
      <th class="column4">Статус</th>
      <th class="column5">Описание статуса</th>
      <th class="column6">Дедлайн</th>
      <th class="column7">Планируемый бюджет</th>
      <th class="column8">Сумма по спецификации</th>
      <th class="column9">Сумма по договору</th>
     </tr>
    </thead>
    <tbody id="projects">
    <%= render @projects %>
    </tbody>
  </table>
 
  <%= render 'dialog' %>
 
</div>
