<div id="webtable">
  <table width="100%" id="table_specification">
     <thead>
      <tr class="check_column" id="<%= @specification.id %>">
        <th></th>
        <th><%= check_box("photo", @specification.id, {checked: @specification.photo, column: "photo"}) %></th>
        <th><%= check_box("factory", @specification.id, {checked: @specification.factory, column: "factory"}) %></th>
        <th><%= check_box("brand_model", @specification.id, {checked: @specification.brand_model, column: "brand_model"}) %></th>
        <th><%= check_box("article", @specification.id, {checked: @specification.article, column: "article"}) %></th>
        <th><%= check_box("finishing", @specification.id, {checked: @specification.finishing, column: "finishing"}) %></th>
        <th><%= check_box("description", @specification.id, {checked: @specification.description, column: "description"}) %></th>
        <th><%= check_box("size", @specification.id, {checked: @specification.size, column: "size"}) %></th>
        <th><%= check_box("upf", @specification.id, {checked: @specification.upf, column: "upf"}) %></th>
        <th><%= check_box("sum_factory", @specification.id, {checked: @specification.sum_factory, column: "sum_factory"}) %></th>
        <th><%= check_box("number_of", @specification.id, {checked: @specification.number_of, column: "number_of"}) %></th>
        <th><%= check_box("interest", @specification.id, {checked: @specification.interest, column: "interest"}) %></th>
        <th><%= check_box("full_price", @specification.id, {checked: @specification.full_price, column: "full_price"}) %></th>
        <th><%= check_box("full_sum", @specification.id, {checked: @specification.full_sum, column: "full_sum"}) %></th>
        <th><%= check_box("architector", @specification.id, {checked: @specification.architector, column: "architector"}) %></th>
      </tr>
      <tr>
        <th class="npp">п/п</th>
        <th class="photo">Изображение</th>
        <th class="factory">Фабрика</th>
        <th class="model">Модель</th>
        <th class="article">Артикул</th>
        <th class="finishing_for_client">Отделка</th>
        <th class="type_furniture">Описание</th>
        <th class="size">Размер</th>
        <th class="unit_price_factory">Цена фаб-ки</th>
        <th class="factory-sum">Сумма в 0</th>
        <th class="number_of">Кол-во</th>
        <th class="interest">Интерес</th>
        <th class="full_price">Цена, &euro;</th>
        <th class="full_sum">Сумма, &euro;</th>
        <th class="architector">Архитектор</th>
      </tr>
     </thead>
     <tbody>
       <% @table_specification_lights.each do |ts| %>
         <% pst = [@project, @specification, ts] %>
         <tr row-id="<%= ts.id %>" product-id="<%= ts.product_id %>">
          <td class="npp">
            <%= best_in_place pst, :order %>
            <br>
            <%= check_box("required", ts.id, {checked: ts.required}, ts.id) %>
          </td>
          <td class="photos"><%= render "tables/general_methods/photo/first_in_table", ts: ts %></td>
          <td class="factory"><%= ts.product.brand_model.factory.brand if ts.product %></br>
            <span class="light_factor"><%= ts.product.brand_model.factory.light_factor if ts.product %></span>
          </td>
          <td><%= ts.product.brand_model.name if ts.product %></td>
          <td><%= ts.product.article if ts.product %></td>
          <td><%= best_in_place pst, :finishing_for_client, as: :textarea %></td>
          <td>
            <%= ts.product.type_furniture.name %>
            <br>
            <%= best_in_place pst, :description, as: :textarea %>
          </td>
          <td class="size_images">
            <%= render "tables/general_methods/size_image/first_in_table", ts: ts %>
            <br>
            <%= best_in_place pst, :size, as: :textarea %></td>
          <td><%= best_in_place pst, :unit_price_factory %></td>
          <td class="factory-sum"><%= ts.price_from_nil.round(2) %></td>
          <td><%= best_in_place pst, :number_of %></td>
          <td>
            <p><%= best_in_place pst, :interest_percent %> %</p>
            <p style="white-space:nowrap;"><span class="interest-e"><%= ts.company_interest.round(2) %></span> €</p>
          </td>
          <td><%= ts.unit_price.round(2) %></td>
          <td><%= ts.with_interest.round(2) %></td>
          <td>
            <p style="white-space:nowrap;">Интерес %: <br> <%= best_in_place pst, :arhitec_percent %>
            </p>
            <p>От заказа %: <span class="arh-order-percent"><%= ts.architector_percent_from_order.round(2) %></span><br>Интерес €: <span class="arh-interest-e"><%= ts.architector_interest.round(2) %></span></p>
            <p>
            <%= link_to 'Удалить запись', pst, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-xs" %>
            </p>
          </td>
         </tr>
       <% end %>
        <tr>
          <td colspan="13"> Сумма</td>
          <td><%= TableSpecificationLight::specification_sum_all(@specification, "sum") %></td>
          <td><%= TableSpecificationLight::specification_sum_all(@specification, "architector_interest") %></td>
        </tr>
        <tr>
          <td colspan="13"> Сумма выделенных</td>
          <td><%= TableSpecificationLight::specification_sum_all(@specification, "sum", "selected") %></td>
          <td><%= TableSpecificationLight::specification_sum_all(@specification, "architector_interest", "selected") %></td>
        </tr>
     </tbody> 
  </table>
</div>