<p id="notice"><%= notice %></p>

<p>
  <strong>Finishing:</strong>
  <%= @table_specification_light.finishing %>
</p>

<p>
  <strong>Finishing for client:</strong>
  <%= @table_specification_light.finishing_for_client %>
</p>

<p>
  <strong>Unit price factory:</strong>
  <%= @table_specification_light.unit_price_factory %>
</p>

<p>
  <strong>Width:</strong>
  <%= @table_specification_light.width %>
</p>

<p>
  <strong>Height:</strong>
  <%= @table_specification_light.height %>
</p>

<p>
  <strong>Depth:</strong>
  <%= @table_specification_light.depth %>
</p>

<p>
  <strong>Number of:</strong>
  <%= @table_specification_light.number_of %>
</p>

<p>
  <strong>Interest percent:</strong>
  <%= @table_specification_light.interest_percent %>
</p>

<p>
  <strong>Arhitec percent:</strong>
  <%= @table_specification_light.arhitec_percent %>
</p>

<%= link_to 'Edit', edit_table_specification_light_path(@table_specification_light) %> |
<%= link_to 'Back', table_specification_lights_path %>
