<%= wicked_pdf_stylesheet_link_tag "pdf" %>
<% group_line_table = @group_lines || @group_line_lights %>
<% no_group_lines = @no_group_lines || @no_group_line_lights %>
<div class="header">
	<div class="logo"><span id="dizaap">DIZAAP </span><br>
	<span id="upgrade">UPGRADE THE WORLD</span>
	</div>
	<div class="specification_id">
		<span id="specification_id">#<%= @specification.id %></span> <br>
		<span id="data_manager"><%= @user.name %> | <%= @user.email %> | <%= @user.telephone %></span>
		<br>
		<br>
		<br>
	</div>
</div>
<table>
	<thead>
		<tr>
			<th colspan="<%= @specification.checks_print_count %>" class="specification_name"><span><%= @specification.name %></span></td>	
		</tr>
		<tr>
			<% if @specification.photo %>				
				<th width="<%= @css_print["photo"] %>%">Изображение</th> <% end %>
			<% if @specification.factory %> 		
				<th width="<%= @css_print["factory"] %>%">Фабрика</th> <% end %>
			<% if @specification.brand_model %> 
				<th width="<%= @css_print["brand_model"] %>%">Модель</th> <% end %>
			<% if @specification.article %> 		
				<th width="<%= @css_print["article"] %>">Артикул</th> <% end %>
			<% if @specification.finishing %> 	
				<th width="<%= @css_print["finishing"] %>%">Отделка</th> <% end %>
			<% if @specification.description %> 
				<th width="<%= @css_print["description"] %>%">Описание</th> <% end %>
			<% if @specification.size %>	 			
				<th width="<%= @css_print["size"] %>%">Размер</th> <% end %>
			<% if @specification.upf %> 				
				<th width="<%= @css_print["upf"] %>%">Цена Фа-ки</th> <% end %>
			<% if @specification.sum_factory %> 
				<th width="<%= @css_print["sum_factory"] %>%">Сумма фабрики</th> <% end %>
			<% if @specification.number_of %>	  
				<th width="<%= @css_print["number_of"] %>%">Ко-во</th> <% end %>
			<% if @specification.interest %>	  
				<th width="<%= @css_print["interest"] %>%">Интерес</th> <% end %>
			<% if @specification.full_price %>	
				<th width="<%= @css_print["full_price"] %>%">Цена</th> <% end %>
			<% if @specification.full_sum %>		
				<th width="<%= @css_print["full_sum"] %>%">Сумма</th> <% end %>
			<% if @specification.v %>						
				<th width="<%= @css_print["v"] %>%">Объем</th> <% end %>
			<% if @specification.architector %>	
				<th width="<%= @css_print["architector"] %>%">Архитектор</th> <% end %>
		</tr>
	</thead>
	<tbody>
	<!-- OUTPUT GROUP -->
	<%= group_line_table %>
      <% group_line_table.each do |gr| %>
        <tr>
          <td class="group_label" colspan="<%= @specification.checks_print_count %>"><%= gr.name %></td>
        </tr>
        <% gr.tables.each do |ts| %>
         <%= render 'tables/pdfs/table_each', ts: ts %>
        <% end %>
      <% end %>
      <% no_group_lines.each do |ts| %>
        <%= render 'tables/pdfs/table_each', ts: ts %>
      <% end %>
		<tr>
			<% if @specification.print_sum && @specification.full_sum %>
				<td colspan="<%= @specification.colspan_sum[:before] %>"></td>
				<td class="sum">
					<%= @selected ? @Model::specification_sum_all(@specification, "sum", "selected").round(2) : @Model::specification_sum_all(@specification, "sum").round(2) %>
				<% if @specification.colspan_sum[:after] != 0 %>
					<td colspan="<%= @specification.colspan_sum[:after] %>"></td>
				<% end %>
			</td>
		<% end %>
		</tr>
	</tbody>
</table>
<p> </p>