<%= form_for(@product, remote:true, :html => { :role => "form" }) do |f| %>
<div id="error_explanation" class="bg-danger text-danger"></div>
  
    <div class="row">
      <div class="form-group col-sm-6" id="factory">
        <%= fields_for(@brand_model) do |u| %>
          <div class="form-group" id="type_furniture">
            <%= u.label :factory_id, 'Фабрика', :class => "control-label" %><br>
            <%= u.select :factory_id,
                @factories.map { |o| 
                [o.brand, o.id, {"id" => o.id}]},
                { include_blank: true },
                { id: 'factories_select',
                class: 'chosen-select' }
            %>
          </div>
          <div class="form-group" id="brand_model">
            <%= u.label :name,'Модель', :class => "control-label" %><br>
            <%= u.select :name,
                @brand_models.map { |o| 
                [o.name, o.name, {"id" => o.id}]},
                { include_blank: true },
                { id: 'products_select',
                class: 'chosen-select' }
            %>
          </div>
        <% end %>
          <div class="form-group" id="type_furniture">
            <%= f.label :type_furniture_id, 'Тип мебели', :class => "control-label" %><br>
            <%= f.collection_select :type_furniture_id, TypeFurniture.all,:id,:name, {include_blank: false}, {class: 'chosen-select', selected: 1} %>
          </div>
      </div>
  <div class="col-sm-6">
    <div class="form-group">
      <%= f.label :article, 'Артикул', :class => "control-label" %><br>
      <%= f.text_field :article, :class => "form-control" %>
    </div>
      <div class="v">
       <fieldset>
        <legend>Размер упаковки</legend>  
        <div class="form-group col-xs-3">
          <%= f.label :unit_v, 'Объем', :class => "control-label" %><br>
          <%= f.text_field :unit_v, :class => "form-control" %>
        </div>
        <div class="form-group col-xs-3">
          <%= f.label :width, 'Ширина', :class => "control-label" %><br>
          <%= f.text_field :width, :class => "form-control" %>
        </div>
        <div class="form-group col-xs-3">
          <%= f.label :height, 'Высота', :class => "control-label" %><br>
          <%= f.text_field :height, :class => "form-control" %>
        </div>
        <div class="form-group col-xs-3">
          <%= f.label :depth, 'Глубина', :class => "control-label" %><br>
          <%= f.text_field :depth, :class => "form-control" %>
        </div>
       </fieldset>
       <div class="form-group">
         <%= f.label :price, t('products.price'), :class => "control-label" %><br>
         <%= f.text_field :price, :class => "form-control" %>
       </div>
       <div class="form-group">
       </div>
       <div class="form-group">
         <%= f.hidden_field :brand_model_id, :class => "form-control" %>
       </div>
      </div>
  </div>

 <div class="row">
  <div class="col-sm-12">
 <p>Photos</p>
   <div class="photo" id="photos">
  <div class="addpict"></div> 
   </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
   <p>Size Images</p>
   <div id="size_images">  
  <div class="addpict"></div>
   </div>
  </div>
</div>
  <%= f.hidden_field :photo_base64_form %>
  <%= f.hidden_field :size_image_base64_form %>

  </div>
  <div class="actions">
    <%= f.submit 'Добавить товар',class: 'btn btn-primary' %>
  </div>
<% end %>
