<%= form_for(@product, remote: true, :html => { :role => "form" }) do |f| %>
<div id="error_explanation" class="bg-danger text-danger"></div>
  
  <div class="row">
    <div class="col-sm-8">
  <div class="form-group" id="factory">
    <%= fields_for(@brand_model) do |u| %>
      <%= u.select :factory_id,
          @factories.map { |o| 
          [o.brand, o.id, {"id" => o.id}]},
          { include_blank: true },
          { id: 'factories_select',
          class: 'chosen-select' }
      %>
      <%= u.select :name,
          @brand_models.map { |o| 
          [o.name, o.name, {"id" => o.id}]},
          { include_blank: true },
          { id: 'products_select',
          class: 'chosen-select' }
      %>
    <% end %>
  </div>
  <div class="form-group" id="brand_model">

  </div>
  <div class="form-group">
    <%= f.text_field :article, :class => "form-control" %>
  </div>
  <div class="form-group" id="type_furniture">

  </div>
  <div class="v">
    <div class="form-group col-xs-3">
      <%= f.label 'Объем', :class => "control-label" %><br>
      <%= f.text_field :unit_v, :class => "form-control" %>
    </div>
    <div class="form-group col-xs-3">
      <%= f.label 'Ширина', :class => "control-label" %><br>
      <%= f.text_field :width, :class => "form-control" %>
    </div>
    <div class="form-group col-xs-3">
      <%= f.label 'Высота', :class => "control-label" %><br>
      <%= f.text_field :height, :class => "form-control" %>
    </div>
    <div class="form-group col-xs-3">
      <%= f.label 'Глубина', :class => "control-label" %><br>
      <%= f.text_field :depth, :class => "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label t('products.price'), :class => "control-label" %><br>
      <%= f.text_field :price, :class => "form-control" %>
    </div>
    <div class="form-group">
      <%= f.hidden_field :type_furniture_id, :class => "form-control" %>
    </div>
    <div class="form-group">
      <%= f.hidden_field :brand_model_id, :class => "form-control" %>
    </div>
  </div>
  
  </div>

  </div>
  <div class="actions">
     <%= f.submit %>
  </div>
<% end %>
