<%= form_for(@product) do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :article %><br>
    <%= f.text_field :article %>
  </div>
    <div class="field">
    <%= f.label :type_furniture %><br>
    <%= f.autocomplete_field :type_furniture,autocomplete_type_furniture_name_products_path, :id_element => '#product_type_furniture_id' %>
  </div>
  <div class="field">
    <%= f.label :price %><br>
    <%= f.text_field :price %>
  </div>
  <div class="field">
    <%= f.hidden_field :type_furniture_id %>
  </div>

  <div class="form-group">
    <%= f.label :factory, :class => "control-label" %>
    <%= f.collection_select :factory_id, Factory.order(:brand),:id,:brand, include_blank: true %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
