<div id="results">
  <div>
  </div>
  <div class="well well-sm">
    <%= page_entries_info products %>
    <%# add an automated spinner to your form when the list is refreshed %>
    <%= render_filterrific_spinner %>
    <div class="pull-right">
      <%= link_to 'Сбросить фильтры', reset_filterrific_url, class: "btn btn-default btn-xs" %>
    </div>
  </div>
  
  <table class="table table-bordered table-striped table-hover">
    <thead>
      <tr>
        <th>Изображениеч</th>
        <th><%= filterrific_sorting_link(@filterrific, :factory) %></th>
        <th><%= filterrific_sorting_link(@filterrific, :brand_model) %></th>
        <th><%= filterrific_sorting_link(@filterrific, :article) %></th>
        <th><%= filterrific_sorting_link(@filterrific, :type_furniture) %></th>
        <th><%= filterrific_sorting_link(@filterrific, :price) %></th>
        <th> Действие </th>
      </tr>
    </thead>

    <tbody id="products">
      
      <%= render @products %>
    </tbody>
  </table>
  <%= will_paginate @products, renderer: BootstrapPagination::Rails %>
</div>
