<div id="filterrific_results">
  <div>
    <%= page_entries_info products %>
  </div>
 <div class="new-product"></div>
  <table class="table table-bordered table-striped table-hover">
    <thead>
      <tr>
        <th>Изображениеч</th>
        <th><%= filterrific_sorting_link(@filterrific, :factory) %></th>
        <th><%= filterrific_sorting_link(@filterrific, :brand_model) %></th>
        <th><%= filterrific_sorting_link(@filterrific, :article) %></th>
        <th><%= filterrific_sorting_link(@filterrific, :type_furniture) %></th>
        <th><%= filterrific_sorting_link(@filterrific, :price) %></th>
        <th> Действие </th>
      </tr>
    </thead>

    <tbody id="products">
      
      <%= render @products %>
    </tbody>
  </table>
</div>

<%= will_paginate products, renderer: BootstrapPagination::Rails %>