<%= javascript_include_tag "products/index" %>
<tr id="product_<%= product.id %>">
  <td>
  	<% if Photo.where(product_id: product.id).first %>  
		<%= image_tag Photo.where(product_id: product.id).first.img.url(:thumb) %>
  	<% end %>
  </td>
  <% p product.id %>
  <td><%= product.brand_model.factory.brand %></td>
  <td><%= product.brand_model.name %></td>
  <td><%= product.article %></td>
  <td><%= product.type_furniture.name %></td>
  <td><%= product.price %></td>
  <td>
  	<%= link_to t('edit'), edit_product_path(product), remote: true, class: "btn btn-sm btn-info" %>
  	<%= link_to t('delete'), product, remote: true, :method => :delete, data: {confirm: "Delete Customer: #{product.article}"}, :class => 'btn btn-sm btn-danger' %></td>
</tr>