<div class="container">
  <p id="notice"><%= notice %></p>

  <h2><%= t('products.products') %></h2>
  <div class="well">
    <%= link_to t('products.new_product'), new_product_path, remote: true, class: "btn btn-primary" %>
  </div>
  <div class="new-product"></div>
  
  <%= form_for_filterrific @filterrific do |f| %>
    <div>
      Search
      <%# give the search field the 'filterrific-periodically-observed' class for live updates %>
      <%= f.text_field(
        :search_query,
        class: 'filterrific-periodically-observed'
      ) %>
    </div>
    <div>
      <%= link_to(
        'Reset filters',
        reset_filterrific_url,
      ) %>
    </div>
    <%# add an automated spinner to your form when the list is refreshed %>
    <%= render_filterrific_spinner %>
  <% end %>
  <%= render(
    partial: 'products/list',
    locals: { products: @products }
  ) %>
  <br>
  <%= render 'dialog' %>
</div>

