<div class="container">
  <p id="notice"><%= notice %></p>

  <div class="new-product">
    <%= link_to t('products.new_product'), new_product_path, remote: true, class: "btn btn-primary" %>
  </div>

  <h2><%= t('products.products') %></h2>
  <div class="well">
      <div class="row">
      <%= form_for_filterrific @filterrific, html: {class: "form-inline"} do |f| %>
        <div class="form-group">
          <%= label_tag :sorted_by, 'Сортировка', class: "control-label" %><br>
          <%= f.select :sorted_by,
              @filterrific.select_options[:sorted_by],
              { include_blank: true },
              { id: 'products_select',
              class: 'chosen-select' } %>
        </div>
        <div class="form-group">
          <%= label_tag :with_factory_id, 'Фабрика', class: "control-label" %><br>
          <%= f.select :with_factory_id,
              @filterrific.select_options[:with_factory_id],
              { include_blank: true },
              { id: 'products_select',
              class: 'chosen-select' } %>
        </div>
        <div class="form-group">
          <%= label_tag :with_brand_model_id, 'Модель', class: "control-label" %><br>
          <%= f.select :with_brand_model_id,
              @filterrific.select_options[:with_brand_model_id],
              { include_blank: true },
              { id: 'products_select',
              class: 'chosen-select' } %>
        </div>
        <div class="form-group">
          <%= label_tag :search_query, 'Поиск по артикулу', class: "control-label" %><br>
          <%= f.text_field :search_query, class: "form-control"  %>
        </div>
      </div>
    <% end %>
  </div>
  
  <%= render(
    partial: 'products/list',
    locals: { products: @products }
  ) %>
  
  <br>
  <%= render 'dialog' %>
</div>

