<div class="container">
  <p id="notice"><%= notice %></p>

  <h2><%= t('products.products') %></h2>
  <div class="well">
    <%= link_to t('products.new_product'), new_product_path, remote: true, class: "btn btn-primary" %>
  </div>
  <div class="new-product"></div>
  <table class="table table-bordered table-striped table-hover">
    <thead>
      <tr>
        <th><%= 'Изображение' %></th>
        <th><%= 'Фабрика' %></th>
        <th><%= t('products.model') %></th>
        <th><%= t('products.article') %></th>
        <th><%= t('type_furnitures.type_furniture') %></th>
        <th><%= t('products.price') %></th>
        <th> Действие </th>
      </tr>
    </thead>

    <tbody id="products">
      <%= render @products %>      
    </tbody>
  </table>
  <div class="addpict"></div> 
  <br>
  <%= render 'dialog' %>
</div>
