<!DOCTYPE html>
<html>
<head>
  <title>Pro</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="loader" style="position: fixed; width: 100%; height: 100%; top: 0px; left: 0px; background-color: rgb(46, 204, 113); z-index: 999; display: none;">
		<div class="fl spinner1">
			<div class="double-bounce1"></div>
			<div class="double-bounce2"></div>
		</div>
	</div>
  <%= yield %>
  <%if user_signed_in? %>
    <%= render 'blocks/menu' %>
  <% end %>
</body>
</html>
